{% extends 'home/home.html' %}
{% load static %}
{% block content %}
    <h2 class="mb-5">About Us</h2>
    <h3 class="heading my-5">We are <span style="font-family: 'Ribeye Marrow', sans-serif;">INCENTAVING</span><br>
    </h3>
    <img src="{% static 'img/lifestyle.png' %}" class="blogPhoto"><br><br><br>
    <p>We are an ambitious company working towards the goal of sustainable living and preservation of natural environment.<br><br><br>
        We are well aware of the future problems and are planning to take steps well ahead of time.<br><br><br>
        In order to make people work with us and towards our cause we chose the path of Incentivizing the process.<br><br><br>
        We will provide people joining us with incentives and various rewards to let them join our cause willingly and enthusiastically.<br><br><br>
        The problem with natural degradation is that people are not ready to take action now and to make them do so we have to make them understand that in another way.<br><br><br>
        We will set up small goals and milestones to let people cruise through the process swiftly and also encourage them with the incentive.<br><br><br>
    </p>
    <p class="heading">Developers</p>
<p> The site is currently Developed and Maintained by <span class="catchy">Saksham Bisen</span> (sakshambisen02@gmail.com)</p>
{% endblock %}