{% extends 'home/home.html' %}
{% load static %}
{% block content %}
    <p class="mb-3 heading" style="font-size:21px;">Buy or redeem your Conservation Coins here: </p>
    <div class="row text-muted mx-auto">
        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/coming.jpg' %}" alt="Coming-Soon">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">The products will be available soon<br>Stay updated!</p>
                    <a href="#" class="btn btn-secondary disabled">Buy</a><strong class="btn btn-secondary mx-2"> CC count: $$</strong>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/coming.jpg' %}" alt="Coming-Soon">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">The products will be available soon<br>Stay updated!</p>
                    <a href="#" class="btn btn-secondary disabled">Buy</a><strong class="btn btn-secondary mx-2"> CC count: $$</strong>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/coming.jpg' %}" alt="Coming-Soon">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">The products will be available soon<br>Stay updated!</p>
                    <a href="#" class="btn btn-secondary disabled">Buy</a><strong class="btn btn-secondary mx-2"> CC count: $$</strong>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/coming.jpg' %}" alt="Coming-Soon">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">The products will be available soon<br>Stay updated!</p>
                    <a href="#" class="btn btn-secondary disabled">Buy</a><strong class="btn btn-secondary mx-2"> CC count: $$</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}