<div class="container-fluid mt-5 mb-0 pb-4 flex-grow-1" style="background-color:black;">
    <div class="row text-center">
        <div class="col-12"><a href="{% url 'home:about' %}" style="text-decoration:none;color:#212529;">About Us</a></div>
        <div class="col-12"><a href="{% url 'home:contact' %}" style="text-decoration:none;color:#212529;">Contact Us</a></div>
        <div class="col-12 py-2"></div>
<!--        <div class="col-4 text-right" ><i class="fab fa-facebook-square"></i></div>-->
<!--        <div class="col-4"><i class="fab fa-instagram"></i></div>-->
<!--        <div class="col-4 text-left"><i class="fab fa-twitter-square"></i></div>-->
<!--        <div class="col-4 text-right" style="font-size:10px;">Facebook-account-name</div>-->
<!--        <div class="col-4" style="font-size:10px;">@Instagram_account-name</div>-->
<!--        <div class="col-4 text-left" style="font-size:10px;">twitter-account-name</div>-->
        <div class="col-12 pt-0 py-2"><i class="far fa-registered"></i> Incentaving.com</div>
    </div>
</div>







