{% load static %}
{% url 'blogs:all_blogs' as all_blogs %}

<nav class="navbar navbar-expand-lg navbar-light mx-lg-none mx-sm-5 mx-md-0 justify-content-sm-start fixed-top" style="background-color:white">
      <a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 mr-auto align-left" href="{% url 'home:homepage' %}">
          <img src="{% static 'img/logo.png' %}" class="d-none d-lg-block p-0 m-0 logo">
      </a>

      <button class="navbar-toggler align-self-start mt-2 order-0" type="button">
        <img src="{% static 'img/logo.png' %}" border="none" class="logo">
      </button>


      <div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end p-3 p-lg-0 mt-lg-0 mt-5 mobileMenu" id="navbarSupportedContent">
        <ul class="navbar-nav align-self-stretch">
          <li class="nav-item">
            <a class="nav-link d-md-none d-block" href="{% url 'home:homepage' %}">
                <span style="font-family: 'Ribeye Marrow', sans-serif;align:center">INCENTAVING</span>
                <br><span style="align:center;">Incentively Saving Earth</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'action:home' %}">Actions</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'accounts:home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account <i></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:white">
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'accounts:signup' %}">Signup</a>
              {% endif %}
              <div class="dropdown-divider" style="background-color:white ! important;color:white ! important"></div>
              <a class="dropdown-item" href="{% url 'accounts:home' %}">Account Settings</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == all_blogs %}active{% endif %}" href="{{ all_blogs }}">Blogs</a>
          </li>
          <li class="nav-item dropdown d-block d-md-none">
              <a class="nav-link" href="{% url 'blogs:featured' %}">Featured Articles</a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0 d-none d-md-block searchForm" style="order:2" action="{% url 'search' %}" method="GET">
          <input class="search-input form-control mr-sm-2" name="q" type="search" placeholder="{% if request.GET.q %}{{ request.GET.q }}{% else %}Search...{% endif %}" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 submitBtn" type="submit"><i class="fas fa-search"></i></button>
      </form>
    <button id="searchBar-toggler" class="nav-item d-block d-md-none" style="order:2;background-color:white;border:none;"><i class="fas fa-search"></i></button>
  </nav>
  <div class="overlay">
  </div>