<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Incentaving</title>
    <style>
        .footer{
            margin-left:45px;
        }
        hr{
            margin-top:30px;
        }
        body{
            background-color:#EDEEF0;
            align:center;
            font-family: Bookman Old Style;
        }
        .lead{
            font-weight:bolder;
        }
    </style>
</head>
    <body>
    <div align="center">
        <h3 style="margin-top:30px;">We are pleased to have you with us {{ firstname }}</h3>
        <h2 class="lead">Thanks for Subscribing to our Newsletter<br>Get updates for our latest blogs and new updates</h2>
        <div class="footer" align="left">
           <h3>Regards,<br>Team Incentaving.com</h3>
        </div>
    </div>
</body>
</html>