    <div class="text-center">
        <a href="{% url 'home:homepage' %}" style="text-decoration:none;">
            <span style="font-family: 'Ribeye Marrow', sans-serif;">INCENTAVING</span>
            <br>Incentively Saving Earth
        </a>
    </div>
    <div class="mt-4">
        <a style="text-decoration:none;" href="{% url 'blogs:all_blogs' %}">
            <div class="alert alert-dark my-1 heading" role="alert">
                Blogs
            </div>
        </a>
        <a style="text-decoration:none;" href="{% url 'blogs:featured' %}">
            <div class="alert alert-dark my-1 heading" role="alert">
                Featured Articles
            </div>
        </a>
        <a style="text-decoration:none;" href="{% url 'action:home' %}">
            <div class="alert alert-dark my-1 heading" role="alert">
                Actions
            </div>
        </a>
    </div>



